<div class="card text-center menu-insert">
  <div class="card-body">
    <div class="row">
      <div class="col-custom-1">
        <div
          class="action-content {{
            line_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="line_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/line.png" alt="" />
            </div>
            <div class="lbl">Line</div>
          </a>
        </div>
        <div
          class="action-content {{
            arc_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a href="javascript:;" class="text-left" (click)="arc_clickHandler()">
            <div class="divimg">
              <img src="assets/images/icons/arc.png" alt="" />
            </div>
            <div class="lbl">Arc</div>
          </a>
        </div>
        <div
          class="action-content {{
            rectangle_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="rectangle_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/rectangle.png" alt="" />
            </div>
            <div class="lbl">Rectangle</div>
          </a>
        </div>
      </div>

      <div class="col-custom-2">
        <div
          class="action-content {{
            circle_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="circle_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/circle.png" alt="" />
            </div>
            <div class="lbl">Circle</div>
          </a>
        </div>
        <div
          class="action-content {{
            ellipse_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="ellipse_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/oval.png" alt="" />
            </div>
            <div class="lbl">Ellipse</div>
          </a>
        </div>
        <div
          class="action-content {{
            text_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <ng-template #popoverTemplate_text><input type='text' #text [value]="MS.menu_line_editor.TEXT" (input)='text_inputHandler(text.value)'></ng-template>
          <a
            href="javascript:;"
            class="text-left"
            (click)="text_clickHandler()"
            [popover]="popoverTemplate_text" [outsideClick]="true" placement="right" 
          >
            <div class="divimg">
              <img src="assets/images/icons/text.png" alt="" />
            </div>
            <div class="lbl">Text</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
