.menu-goto {
  width: 135px;

  .navigate-text {
    font-size: 11px;
    color: #000;
    line-height: 1.5;
  }

  a.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  .select-dropDown {
    width: 100% !important;
  }

  .text-right img:hover {
    background-color: #ccc;
  }
  .text-left img:hover {
    background-color: #ccc;
  }
}
