.four-images {
  margin-left: -30px;
  margin-right: -30px;

  img {
    border: 1px #8C8C8C solid;
  }

  .img-panel {
    position: relative;
  }

  .image-cav {
    width: 92%;
    position: relative;
  }
    
  .file-drop-txt {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center; 
    width: 100%;
    height: 87%;
  }
  
  .checkblock {
    height: 20px;
    width: 95%;
  
    align-items: center;
    text-align: center;
  }
  
  .mlb {
    margin-bottom: 0;
    margin-left: 10px;
  }
  
  .tools {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  
    img {
      margin-bottom: 5px;
      border-width: 2px;
    }
  
    img:hover {
      border-color: #5A5A5A;
    }
  }
  
  
  
  .img-cls {
    display: flex;
  }
  
  .mb-c {
    margin-bottom: 20px;
  }
  
  .img-container {
    width: 100%;
    height: 30vh;
    border: thin;
    border-color: grey;
    border-style: solid;
  
  }
  
  .img-container img {
    height: auto;
    width: 100%;
  }
  
  .drag-scroll-content {
    overflow: hidden !important;
  }
  

}

