.menu-clipboard {
  margin-top: 5px;

  .row_panel {
    display: flex;
  }

  .panel {
    width: 50%;
    display: flex;
    cursor: pointer;
    margin: 2px;
  }

  .panel .icon-class img {
    width: 20px;
  }

}

.action-content {
  width: 100%;
}
.action-content:hover {
  width: 100% !important;
  background-color: #ccc;
}
